.git
.gitignore
.env
.env.backup
.env.production
.env.docker
.idea
.vscode
.fleet
.codex
node_modules
vendor
public/build
public/storage
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
bootstrap/cache/*.json
